body {

    background: black;
     color:antiquewhite;
    margin: 0;

}

header {
    text-align: center;
    font-size: 80px;
    border-bottom: solid 10px palevioletred;
    margin: 20px;
    margin-left: 80;
    margin-right: 80;
}

section {
    display: flex;
    background-color: white;
    padding-bottom: 80px;
    margin-top: 20px
    
}