body {

    background: lightpink;
     color:antiquewhite;
    margin: 0;

}

header {
    text-align: center;
    font-size: 80px;
    border-bottom: solid 10px pink;
    margin:20 px;
    margin-left: 80;
    margin-right: 80;
}

section {
    display: flex;
    background-color: white;
}