body {

    background: lightpink;
    color:antiquewhite;

}

header {
    text-align: center;
    font-size: 80px;
    border-bottom: solid 10px pink;
    margin-left: 80;
    margin-right: 80;
}

section {
    display: flex;
    background-color: white;


}